*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
system/*
.DS_Store
.idea/
LICENSE
codeigniter-contributing.md
codeigniter-license.txt
codeigniter-readme.rst
composer.json
application/config/*
phpinfo.php


