#game-message {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#inner-game-message {
    margin: 0 auto;
}

#battle-canvas {
    /*background: url("../img/space-battle.jpg") no-repeat left top;*/
    background: url("../img/space-battle2.gif") no-repeat left top;
}